.vertical-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

.vertical-spacing-less-on-bottom {
    margin-top: 30px;
    margin-bottom: 5px;
}

.hint {
    margin-bottom: 10px;
    width: 25%;
}

.container-min-height {
    min-height: 500px;
}

#button2 {
    width: 196px;
}