.page_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    vertical-align: middle; 
    align-content: center;
}

.row_center{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    align-items: center;
}

.row_space{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
	justify-content: space-around;
}
  
.title_img{
    background-image: url("/cryptography.jpg");
    height: 100vh;
}

.title_design{
    font-weight: bold;
    font-size: 100px;
    color: white;
    font-family: 'Roboto Mono', Avenir;
    width: 1000px;
    margin: auto;
    line-height: 1.1;
    padding: 50px;

}

.desc{
    font-weight: bold;
    font-family: 'Roboto Mono', Avenir;
    font-size: 48px;
    color: white;
    padding: 50px;
    width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;
    line-height: 1.1;
}

.image{
    display: block;
    width: 30vw;
    max-width: 22em;
    height: auto;
    border-radius: 5%;
}

.paragraph{
    font-weight: bold;
    font-family: 'Roboto Mono', Avenir;
    font-size: 36px;
    color: cipher-gold;
    padding: 50px;
    width: 70%;
    margin: auto;
    position: relative;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
    line-height: 1.1;
}

.mini_paragraph{
    font-weight: bold;
    font-family: 'Roboto Mono', Avenir;
    font-size: 24px;
    color: cipher-gold;
    padding: 50px;
    width: 30%;
    margin: none;
    position: relative;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-font {
    font-family: 'Roboto Mono', Roboto;
    font-weight: bold;
}

@media (max-width: 850px) {
    .mini_paragraph{
        width: 50%;
    }

    .image{
        width: 25vw;
        height: auto;
    }
}
  